.main-container {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
.team-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.team-col {
}
h2 {
  font-weight: 400;
}
.team-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.team-col img {
  width: 300px;
  height: 250px;
}

/* Responsive Grid */
